section {
    font-family: Arial, sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    margin: 0;
  }

  /* Styling for the card */
  .card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    color: #333;

  }

  /* Hover effect for the card */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 353px;
    /* height: 45%; */

  }

  /* Input styling */
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Button styling */
  button {
    width: 85%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #45a049;
  }

  /* Result heading styling */
  h2 {
    font-size: 15px;
  }

 