<h1>Data binding</h1>

<!-- <label for="">Name:</label>
<input type="text"><br>
<label for="">Email:</label>
<input type="email"><br>
<label for="">Mobile:</label>
<input type="number"><br> -->

<!-- Event binding -->
<input type="text" (keyup)="typing()" /><br />
<button [disabled]="isIndian" (click)="submit()">Submit</button>

<!-- Interpolation -->
<h3>{{ name }}</h3>
<h3>{{ age }}</h3>
<h3>{{ email }}</h3>
<hr />
<h3>{{ user.name }}</h3>
<h3>{{ user.age }}</h3>
<h3>{{ user.email }}</h3>
<hr />

<!-- Two way data-binding -->
<input type="text" [(ngModel)]="phone" /><br />

<label for="">num1</label>
<input type="number" [(ngModel)]="num1" /><br />
<label for="">num2</label>
<input type="number" [(ngModel)]="num2" /><br />
<button [disabled]="!num1 || !num2" (click)="sum()">Sum</button>

<h2>Sum is: {{result}}</h2>
