<section>
    <div class="card">
      <h1>Rectangle Calculator</h1>
      <input type="number" [(ngModel)]="length" placeholder="Enter Length (in cm)" /><br />
      <input type="number" [(ngModel)]="width" placeholder="Enter Width (in cm)" /><br />
      
      <!-- Buttons for separate calculations -->
      <button [disabled]="!length || !width" (click)="calculateArea()">Calculate Area</button>
      <button [disabled]="!length || !width" (click)="calculatePerimeter()">Calculate Perimeter</button>
      
      <h2>Result is : {{ result }}</h2>
    </div>
  </section>
