<h1 class="top">Vehicles Data</h1>

<input type="text" [(ngModel)]="term" (keyup)="filter()" />&nbsp;

<select [(ngModel)]="column">
  <option>Vehicle</option>
  <option>manufacturer</option>
  <option>model</option>
  <option>fuel</option>
  <option>color</option>
  <option>cost</option>
</select>

<select [(ngModel)]="order">
  <option>asc</option>
  <option>dec</option>
</select>
<button class="btn btn-secondary" (click)="sort()">Sort</button>&nbsp;

<select [(ngModel)]="limit">
  <option>10</option>
  <option>20</option>
  <option>30</option>
  <option>40</option>
</select>

<select [(ngModel)]="page">
  <option>1</option>
  <option>2</option>
  <option>3</option>
</select>
<button class="btn btn-secondary" (click)="pagination()">Pagination</button>&nbsp;

<button class="btn btn-primary" routerLink="/dashboard/create-vehicle">Create Vehicle</button>&nbsp;

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Type</th>
      <th>Fuel</th>
      <th>Color</th>
      <th>Cost</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{ vehicle.Vehicle }}</td>
      <td>{{ vehicle.manufacturer }}</td>
      <td>{{ vehicle.model }}</td>
      <td>{{ vehicle.type }}</td>
      <td>{{ vehicle.fuel }}</td>
      <td>{{ vehicle.color }}</td>
      <td>{{ vehicle.cost }}</td>
      <td>
        <img width="100px" height="100px" src="{{ vehicle.image }}" alt="" />
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(vehicle.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
