<div class="parent">
  <div class="left">
    <div class="left_top">Dashboard</div>
    <div class="left_middle">
      <div routerLink="home">Home</div>
      <div routerLink="welcome">Welcome</div>
      <div routerLink="databinding">Data Binding</div>
      <div routerLink="calculator">Calculator</div>
      <div routerLink="rectangle">Rectangle</div>
      <div routerLink="circle">Circle</div>
      <div routerLink="bmi">BMI</div>
      <div routerLink="directives">Directives</div>
      <div routerLink="pipes">Pipes</div>
    </div>
    <div class="left_bottom">
      <button routerLink="/login">Logout</button>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
