<div class="parent">
  <div class="left">
    <div class="left_top">Dashboard</div>
    <div class="left_middle">
      <!-- <div routerLink="home">Home</div> -->
      <!-- <div routerLink="welcome">Welcome</div> -->
      <!-- <div routerLink="databinding">Data Binding</div> -->
      <div routerLink="calculator">Calculator</div>
      <div routerLink="rectangle">Rectangle</div>
      <div routerLink="circle">Circle</div>
      <div routerLink="bmi">BMI</div>
      <!-- <div routerLink="directives">Directives</div> -->
      <!-- <div routerLink="pipes">Pipes</div> -->
      <div routerLink="emp">Employee</div>
      <div routerLink="mart">Shop Mart</div>
      <div routerLink="vehicle">Vehicles</div>
      <div routerLink="accounts">Account Details</div>
      <div routerLink="store">Fake Store</div>
      <div routerLink="mail">Check Mail</div>
      <div routerLink="pinterest">Pinterest</div>
      <div routerLink="weather">Weather Report</div>
      <div routerLink="blogs">Blogs</div>
      <div routerLink="movie">IMDB App</div>
      <div routerLink="profile">Social Profiles</div>
      <div routerLink="cards">Pokemon Carousel</div>
      <div routerLink="students">Student Cards</div>
      <div routerLink="create-user">Create User</div>
    </div>
    <div class="left_bottom">
      <button routerLink="/login">Logout</button>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
