<section>
    <article>
        <h1>Student Details</h1>
        <div>
          <h6><strong>Id: </strong>{{student.id}}</h6>
          <h6><strong>Name: </strong>{{student.name}}</h6>
          <h6><strong>DOB: </strong>{{student.dob}}</h6>
          <h6><strong>Email: </strong>{{student.email}}</h6>
          <h6><strong>Phone: </strong>{{student.phone}}</h6>
          <strong>Profile Pic:  <img src="{{student.profile_picture}}" class="profile"> </strong> 
          <h6><strong>School City: </strong>{{student.school_city}}</h6>
          <strong>School Logo:  <img src="{{student.school_logo}}" class="logo"> </strong> 
          <h6><strong>School Name: </strong>{{student.school_name}}</h6>
          <h6><strong>School Pin: </strong>{{student.school_pin}}</h6>
        </div>
      </article>
</section>
